.DS_Store
PersonalPage_test/Page_Server/.idea/
PersonalPage_test/Page_Server/node_modules/
PersonalPage_test/Page_Client/.idea/
PersonalPage_test/Page_Client/node_modules/
PersonalPage_test/Express/.idea/
PersonalPage_test/Express/node_modules/
PTKB/PTKB_Server/.idea/
PTKB/PTKB_Server/node_modules/
PTKB/PTKB_Server/public/docs/
PTKB_Flask/Server/.idea/
PTKB_Flask/Server/static/docs/
PTKB_Django/Server/.idea/
PTKB/PTKB_ChrExt/.idea/
PTKB/PTKB_ChrExt/node_modules/
java_api/.idea/
java_api/lib/
java_api/out/
java_api/classes/
java_api/src/edu/
java_api/java_api.iml
