<!doctype html>
<html lang="en" ng-app="searchCuratorApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Google search result curator</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">

    <script src="lib/jquery/jquery-1.10.2.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-animate.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-route.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

</head>
<body ng-controller="SearchInputCtrl">
    <div class="row-fluid">
        <div class="span6">
            Enter query and hit enter: <input ng-model="query" ng-keyup="processQuery($event)" />
        </div>
        <div class="span6">
            <form class="navbar-form pull-left">
                <input type="text" ng-model="setName" ng-keyup="syncSelection($event)">
                <button type="submit" class="btn" ng-click="syncSelection($event)">sync</button>
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <ul>
                <li ng-repeat="result in results" class="searchresult" ng-click="selectResult($index)">
                    <b>{{result.title}}</b>
                    <p>
                        <a href="{{result.link}}">{{result.link}}</a> <br />
                        <span class="description">{{result.description}}</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="span6">
            <ul>
                <li ng-repeat="result in selected" class="searchresult">
                    <b>{{result.title}}</b>
                    <p>
                        <a href="{{result.link}}">{{result.link}}</a> <br />
                        <span class="description">{{result.description}}</span>
                    </p>
                </li>
            </ul>

        </div>
    </div>


</body>
</html>
