<div ng-show="div_visible"
     ng-click="div_onfocus()"
    >
{{text}}
</div>
<div>
    <textarea name="message" style="width: 100%; height: 150px;"
              onfocus="if(this.value==this.defaultValue)this.value='';"
              onblur="if(this.value=='')this.value=this.defaultValue;"
              ng-show="edit_visible"
              ng-blur="edit_onblur()"
              ng-model="text"
              focus-me="shouldBeOpen"
              id="edit_box"
            >
{{text}}
    </textarea>
</div>

<!-- if(this.value==this.defaultValue)this.value=''; -->