<div ng-controller="PageCtrl">
<div>
    <!--
    <div ng-show="page0_div_visible"
         ng-click="page0_div_onfocus()"
         ng-bind-html="page0_text"
        >

    </div>
    -->

    <div summernote
            id="page0_edit"
            on-blur="page0_edit_onblur()"
            ng-model="page0_text"
            config="options"
            >

    </div>




<!--
<div ng-show="div_visible"
     ng-click="div_onfocus()"
     ng-bind-html="text"
     ng-class="{mouseover: hover}"
     ng-mouseenter="hover = true"
     ng-mouseleave="hover = false"
    >
</div>
<div>
    <textarea name="message" style="width: 100%; height: 150px;"
              ng-show="edit_visible"
              ng-blur="edit_onblur()"
              ng-model="text"
              focus-me="shouldBeOpen"
              id="edit_box"
            >
{{text}}
    </textarea>
</div>
-->
    <!--add extra couple of lines.-->
    <br/>
    <br/>
</div>

</div>