<div ng-controller="PageCtrl">
    <div>
        <div ng-show="div_visible"
             ng-click="div_onfocus()"
             ng-bind-html="page1_text"
            >
        </div>
        <div>
            <textarea name="message" style="width: 800px; height: 1000px;"
                      ng-show="edit_visible"
                      ng-blur="edit_onblur()"
                      ng-model="page1_text"
                      focus-me="shouldBeOpen"
                      id="edit_box"
                    >
                {{page1_text}}
            </textarea>
        </div>

        <!--add extra couple of lines.-->
        <br/>
        <br/>
    </div>

</div>