<html>
<head>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
    <script type="text/javascript">
        var TextLimitCtrl = function ($scope) {
            var MAX_LEN = 100;
            $scope.message = 'type message here';
            $scope.remaining = function(){
                return MAX_LEN - $scope.message.length;
            };
        };


    </script>
</head>
<body ng-app>

    <div class="container" ng-controller="TextLimitCtrl">
        <span ng-model="rem = '10'">Remaining: {{rem}}</span>
        <div class="row">
            <textarea ng-model="message">{{message}}</textarea>
        </div>
        <div class="row">
            <button ng-click="send()">Send</button>
            <button ng-click="clear()">Clear</button>
        </div>
    </div>

</body>
</html>