body {
    max-width:1280px;
    margin: 0 auto;
}

#menu-editor-options {
    margin-top: 20px;
}

div.menu-indent-control {
    cursor: pointer;
    float: right;
    padding:5px;
}

div.menu-indent-control i{
    margin:1px;
}

div.menu-indent-control i:hover{
	cursor: pointer;
    background-color: #cfcfcf;
}

div.menu-new {
	color:black;
	margin-top: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
	font-weight: lighter;
    min-height: 1em;
}

div.menu-new a{
	color:inherit !important;
}

div.menu-new a:hover{
	color:inherit !important;
	border-bottom: none !important;
}


/* Copy from jemdoc css for h1 */
input.h1 {
    font-family: inherit;
    color: #527bbd;
    line-height: 1.0;
    padding-top: 0.5em;
    border: none;
    font-size: 165%;
    margin-top: 10px;
}