body {
    max-width:1280px;
    margin: 0 auto;
}

#menu-editor-options {
    margin-top: 20px;
}

div.menu-indent-control {
    cursor: pointer;
    float: right;
    padding:5px;
}

div.menu-indent-control i{
    margin:1px;
}

div.menu-indent-control i:hover{
	cursor: pointer;
    background-color: #cfcfcf;
}