.searchresult {
    width:100%;
}

.description{
    width:90%;
}

body {
    max-width: 1400px;
    margin : 0 auto;
}

[contenteditable]:hover,
[contenteditable]:focus {
  outline: 1px dotted #ccc;
  background-color: #F8F8F8;
}

/* Copy from jemdoc css for h1 */
input.h1{
    font-family: inherit;
    color: #527bbd;
	line-height: 1.0;
	padding-top: 0.5em;
    border: none;
	font-size: 165%;
}